.accounting {
  min-height: 100vh;
  background-color: #fff;

  .container {
    padding: 20rpx;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40rpx;

    .tab {
      padding: 16rpx 60rpx;
      font-size: 30rpx;
      color: #999;
      border-bottom: 4rpx solid transparent;

      &.active {
        color: #1890ff;
        border-bottom-color: #1890ff;
        font-weight: bold;
      }
    }
  }

  .amount-display {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60rpx;

    .currency {
      font-size: 40rpx;
      color: #333;
      margin-right: 10rpx;
    }

    .amount {
      font-size: 80rpx;
      font-weight: bold;
      color: #333;
    }
  }

  .section-title {
    font-size: 28rpx;
    color: #666;
    margin-bottom: 20rpx;
    display: block;
  }

  .categories {
    margin-bottom: 40rpx;

    .category-grid {
      display: flex;
      flex-wrap: wrap;

      .category-item {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20rpx 0;

        .icon {
          width: 80rpx;
          height: 80rpx;
          border-radius: 50%;
          margin-bottom: 10rpx;

          &.food {
            background-color: #ff7875;
          }

          &.transport {
            background-color: #69c0ff;
          }

          &.shopping {
            background-color: #b37feb;
          }

          &.add-icon {
            background-color: #f0f0f0;
            position: relative;

            &::before,
            &::after {
              content: '';
              position: absolute;
              background-color: #999;
            }

            &::before {
              width: 30rpx;
              height: 4rpx;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &::after {
              width: 4rpx;
              height: 30rpx;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        text {
          font-size: 24rpx;
          color: #666;
        }

        &.add text {
          color: #999;
        }
      }
    }
  }

  .remark-section {
    margin-bottom: 40rpx;

    .remark-input {
      background-color: #f5f5f5;
      border-radius: 12rpx;
      padding: 24rpx;

      .placeholder {
        color: #ccc;
        font-size: 28rpx;
      }
    }
  }

  .submit-btn {
    background: linear-gradient(135deg, #1890ff 0%, #36cfc9 100%);
    border-radius: 50rpx;
    padding: 28rpx;
    text-align: center;

    text {
      color: #fff;
      font-size: 32rpx;
      font-weight: bold;
    }
  }
}
